* {
	font-family: 'Roboto';
	box-sizing: border-box;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

body {
	background-color: #e2e2e2;
	width: 100%;
	height: 100vh;
}

.content {
	background-color: #fff;
	width: 360px;
	height: 750px;
}

header {
	display: block;
	width: 360px;
	height: 83px;
	position: relative;
}

h1 {
	top: 24px;
	right: 20px;
	width: 124px;
	height: 35px;
	font-weight: 400;
	font-size: 24px;
	position: absolute;
	padding: 0;
}

h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	margin: 12px 157px 41px 92px;
	width: 79px;
	height: 23px;
}

ol {
	padding: 0px;
	list-style-type: none;
	margin: 0 auto;
}

.postButton {
	display: block;
	width: 328px;
	height: 67px;
	background-color: #bb2649;
	padding-top: 22px;
	padding-bottom: 22px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	border-radius: 12px;
	text-align: center;
	border: none;
}

.normalButton {
	width: 328px;
	height: 76px;
	border-radius: 12px;
	border: 1.5px solid #e2e2e2;
	background-color: #fff;
	border-radius: 12px;
	margin: 12px;
}

.image {
	width: 76px;
	height: 76px;
	border-radius: 12px 0px 0px 12px;
	display: inline;
}
