* {
	font-family: 'Roboto';
	box-sizing: border-box;
}

body {
	background-color: #fff;
	width: 360px;
	height: 750px;
}

header {
	display: inline-block;
}

em {
	display: block;
}

input {
	display: block;
}

textarea {
	display: block;
}

.imageArea {
	display: block;
}

.submitButton {
	display: block;
}
